table {
    border: 1px solid black;
    border-collapse: collapse ;
    width: 400px;
}

tr, td {
    border: 1px solid black;
}

thead {
    background-color: rgb(11, 66, 0);
    color: white;
}

tbody tr:nth-child(even){
    background-color: rgb(94, 158, 110);
}


#foot {
    background-color: rgb(11, 66, 0);
    color: white;
}
